@model CryptoApp.Models.CurrencyModel


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    <h4>CurrencyModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.FROMSYMBOL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FROMSYMBOL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOSYMBOL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOSYMBOL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRICE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PRICE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HIGHDAY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HIGHDAY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LOWDAY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LOWDAY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHANGEDAY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHANGEDAY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHANGEPCTDAY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHANGEPCTDAY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHANGEHOUR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHANGEHOUR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CHANGEPCTHOUR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CHANGEPCTHOUR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MKTCAP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MKTCAP)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CryptoSymbol" class="control-label"></label>
                <select asp-for="CryptoSymbol" asp-items="Model.CryptoSymbols"></select>
                <span asp-validation-for="CryptoSymbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Refresh" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Wallet">Wallet</a> |
</div>

